---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "n8n.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "n8n.labels" . | nindent 4 }}
data:
  NODE_ENV: "production"
  DB_TYPE: "postgresdb"
  DB_POSTGRESDB_USER: "n8n"
  DB_POSTGRESDB_DATABASE: "n8n"
  DB_POSTGRESDB_HOST: "postgresql.postgresql.svc.cluster.local"
  DB_POSTGRESDB_PORT: "5432"
  GENERIC_TIMEZONE: "America/Sao_Paulo"
  WEBHOOK_TUNNEL_URL: "http://n8n.local"
  WEBHOOK_URL: "http://n8n.local"
  N8N_PORT: "5678"
  N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: "true"
  N8N_BASIC_AUTH_ACTIVE: "true"
  N8N_LOG_LEVEL: "debug"
  N8N_PERSONALIZATION_ENABLED: "false"
  N8N_USER_MANAGEMENT_DISABLED: "true"
  N8N_PROTOCOL: "https"